doctype
html(lang='en')
  head
    title FoodPoints++
    meta(charset='utf-8')
    link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css", rel="stylesheet")
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel="stylesheet")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
  body
    .container
      h1 Food Points ++
      div
        a.btn.btn-primary(href=auth_link) Login