.vis.timeline .timeaxis .text {
    color: #fff;
}
.c3-tooltip {
    color: #000;
}
.progress-countdown {
    height: 39px;
    margin-bottom: 0px;
    white-space: nowrap;
}
#transactions {
    display: block;
    height: 300px;
    overflow-y: scroll;
}
.verticalLine {
    background-color: red;
    width: 1px;
    height: 100%;
    position: relative;
}